<header>
    <nav>
        <a href="/">KID FURY FACILITY MANAGEMENT</a>
        <ul>
            <li> <a href="/facility">FACILITY</a></li>
            <li> <a href="/facility/new"> ADD FACILITY</a></li>
        </ul>
    </nav>
</header>