<header>
    <nav>
        <a href="/">Kid Fury Sport Center Management</a>
        <ul>
            <li> <a href="/facility">Home</a></li>
            <li> <a href="/facility">Feedback</a></li>
            <li> <a href="/facility">Court</a></li>
            <li> <a href="/facility/new"> Add Court</a></li>
            <li> <a href="/facility">Booking</a></li>
            <li> <a href="/facility">Sign Out</a></li>
        </ul>
    </nav>
</header>