<h2 class="page-header">RECENTLY ADDED</h2>
<div>
    <% facilities.forEach(facility => { %> 
        <a href="/facility/<%= facility.id %> ">
        <img height="250" width="200" src="<%= facility.coverImagePath %> ">
        </a>
    <% }) %>
</div>