<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
</head>
<body>
	<h2 class="page-header">SIGN IN PAGE</h2>
	<form id="form" method="post" >
		<div class="form-row">
            <div class="form-item">
                <label>Email: </label>
                <input type="email" name="email" value="">
            </div>
            <div class="form-item">
                <label>Password: </label>
                <input type="password" name="password" value="">
            </div>
        </div>
        <div class="form-row form-row-end btn-row">
            <a class="btn btn-danger" href="/">BACK</a>
            <button class="btn btn-primary" type="submit">SIGN IN</button>
        </div>
	</form>
</body>
</html>