<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/register',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="You are regestered,You can login now.") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script>
</head>
<body>
    <h2 class="page-header">REGISTER PAGE</h2>
		<div class="form-group">
			<form id="form1" method="post">
				<div class="form-row">
                    <div class="form-item">
                        <label>First Name</label>
                        <input type="text" name="Fname" value="">
                    </div>
                    <div class="form-item">
                        <label>Last Name</label>
                        <input type="text" name="Lname" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <label>Username</label>
                        <input type="text" name="username" value="">
                    </div>
                    <div class="form-item">
                        <label>Email Address</label>
                        <input type="email" name="email" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <label>Password</label>
                        <input type="password" name="password" value="">
                    </div>
                    <div class="form-item">
                        <label>Confirm Password</label>
                        <input type="password" name="passwordConf" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <label>Date of Birth</label>
                        <input type="date" name="birthDate" value="">
                    </div>
                    <div class="form-item">
                        <label>Gender</label>
                        <input type="text" name="gender" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <label>phoneNum</label>
                        <input type="number" name="phoneNum" value="">
                    </div>
                </div>
                <div class="form-row form-row-end btn-row">
                    <a class="btn btn-danger" href="/">BACK</a>
                    <button class="btn btn-primary" type="submit">REGISTER</button>
                </div>  
		    </form>
        </div>
</body>