<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size:14px;
}

th {
  background-color: #D9D9D9;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  background-color: black;
}

a {
  text-decoration: none;
  font: bold;
  color: #0070C0;
}

b {
  text-decoration: none;
  color: #00B050;
}

c {
  text-decoration: none;
  color: #FF0000;
}

</style>
</head>
<body>
<h2 class="page-header">ADMIN VIEW FEEDBACK PAGE</h2>
<table>
  <tr>
    <th><center><a>No.</a></center></th>
    <th><center><a>Email</a></center></th>
    <th><center><a>Reaction</a></center></th>
    <th><center><a>Feedback</a></center></th>
  </tr>
  <tr>
    <td><center>1</center></td>
    <td>ali_bin_abu@gmail.com</td>
    <td><b><center>Good</center></b></td>
    <td>Your service is very good and I can understand the interface very well.</td>
  </tr>
  <tr>
    <td><center>2</center></td>
    <td>rafiq_haikal@gmail.com</td>
    <td><b><center>Good</center></b></td>
    <td>This website is very easy to use and I can book court whenever I want.</td>
  </tr>
  <tr>
    <td><center>3</center></td>
    <td>aiman125z@yahoo.com</td>
    <td><b><center>Good</center></b></td>
    <td>I am amaze with the easy-to-understand interface.</td>
  </tr>
  <tr>
    <td><center>4</center></td>
    <td>aizatabuhamid@yahoo.com</td>
    <td><a><center>Normal</center></a></td>
    <td>This website helps me to book court well.</td>
  </tr>
  <tr>
    <td><center>5</center></td>
    <td>adrahman@gmail.com</td>
    <td><b><center>Good</center></b></td>
    <td>Excellent!!!</td>
  </tr>
  <tr>
    <td><center>6</center></td>
    <td>2021652436@student.uitm.edu.my</td>
    <td><c><center>Bad</center></c></td>
    <td>Why there is no court available this week?</td>
  </tr>
  <tr>
    <td><center>7</center></td>
    <td>manafzxc123@yahoo.com</td>
    <td><a><center>Normal</center></a></td>
    <td>Good applications..</td>
  </tr>
</table>
</body>
</html>