<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size:14px;
}

th {
  background-color: #D9D9D9;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  background-color: black;
}

a {
  text-decoration: none;
  color: #00B0F0;
}

b {
  text-decoration: none;
  color: #0070C0;
}

c {
  text-decoration: none;
  color: #FF0000;
}

</style>
</head>
<body>
<h2 class="page-header">ADMIN VIEW BOOKING PAGE</h2>
<table>
  <tr>
    <th><center><b>Booking No.</b></center></th>
    <th><center><b>Customer Name</b></center></th>
    <th><center><b>Phone</b></center></th>
    <th><center><b>Email</b></center></th>
    <th><center><b>Court Type</b></center></th>
    <th><center><b>Date/Time</b></center></th>
    <th><center><b>Duration</b></center></th>
    <th><center><b>Booking Status</b></center></th>
  </tr>
  <tr>
    <td><center>001</center></td>
    <td>Nora Danish binti Mahmud</td>
    <td><center>014-6264567</center></td>
    <td><center>Nora_danish@gmail.com</center></td>
    <td><center>Badminton</center></td>
    <td><center>8/10/2022<br>-<br>3.00P.M</center></td>
    <td><center>1 Hour</center></td>
    <td><center><a>Booked</a></center></td>
  </tr>
  <tr>
    <td><center>002</center></td>
    <td>Muhammad Haikal Aliff</td>
    <td><center>016-2346578</center></td>
    <td><center>Haikalaliff45@yahoo.com</center></td>
    <td><center>Badminton</center></td>
    <td><center>8/10/2022<br>-<br>4.00P.M</center></td>
    <td><center>1 Hour 30 Minutes</center></td>
    <td><center><c>Canceled</c></center></td>
  </tr>
  <tr>
    <td><center>003</center></td>
    <td>Haziq Wahab bin Abi</td>
    <td><center>018-7623456</center></td>
    <td><center>Haziqwahab_abi@gmail.com</center></td>
    <td><center>Football</center></td>
    <td><center>10/10/2022<br>-<br>8.00A.M</center></td>
    <td><center>2 Hour</center></td>
    <td><center><c>Canceled</c></center></td>
  </tr>
  <tr>
    <td><center>004</center></td>
    <td>Ali bin Abu</td>
    <td><center>016-9696969</center></td>
    <td><center>Ali_abu_legend@gmail.com</center></td>
    <td><center>Futsal</center></td>
    <td><center>11/10/2022<br>-<br>10.00A.M</center></td>
    <td><center>4 Hour</center></td>
    <td><center><a>Booked</a></center></td>
  </tr>
  <tr>
    <td><center>005</center></td>
    <td>Muhd Aqil bin Aidil</td>
    <td><center>011-4676944</center></td>
    <td><center>2021696969@student.uitm.edu.my</center></td>
    <td><center>Badminton</center></td>
    <td><center>12/10/2022<br>-<br>5.30P.M</center></td>
    <td><center>1 Hour 30 Minutes</center></td>
    <td><center><c>Canceled</c></center></td>
  </tr>
  <tr>
    <td><center>006</center></td>
    <td>Azman Haziq bin Adraman</td>
    <td><center>016-7654873</center></td>
    <td><center>Azmanadraman@gmail.com</center></td>
    <td><center>Futsal</center></td>
    <td><center>17/10/2022 <br>-<br>5.30P.M</center></td>
    <td><center>1 Hour 30 Minutes</center></td>
    <td><center><a>Booked</a></center></td>
  </tr>
</table>
</body>
</html>