<div class="middle">
    <h2>Welcome To Kid Fury Sport Center Management</h2>
    <img src="/images/logo2.png" height="230" width="500">
</div>
<div class="mid">
    <p>Kid Fury helps you sporting and enjoy with the people in your life.</p>
    <p>Already have an account?</p>
</div>
<a class="btn btn-primary registerbtn" href= "/login">YES, I WANT TO SIGN IN</a>
<a class="btn btn-danger exitbtn" href= "/register">NO, I WANT TO REGISTER</a>





