<div>
    <label>COURT NAME</label>
    <input type="text" name="FacName" value="<%= facility.FacName %>">
</div>
<div>
    <label>COURT TYPE</label>
    <input type="text" name="FacType" value="<%= facility.FacType %>">
</div>
<div>
    <label>COURT NUMBER</label>
    <input type="number" name="FacNum" min="1" value="<%= facility.FacNum %>">
</div>
<div>
    <label>COURT IMAGE</label>
    <input type="file" name="cover" class="filepond">
</div>

