<div class="form-row">
    <div class="form-item">
        <label>COURT NAME</label>
        <input type="text" name="FacName" value="<%= facility.FacName %>">
    </div>
    <div class="form-item">
        <label>COURT TYPE</label>
        <input type="text" name="FacType" value="<%= facility.FacType %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>COURT NUMBER</label>
        <input type="number" name="FacNum" min="1" value="<%= facility.FacNum %>">
    </div>  
    <div class="form-item form-item-no-grow">
        <label>COURT IMAGE</label>
        <input type="file" name="cover" class="facility-cover filepond">
    </div>
</div>


