<label>FACILITY NAME</label>
<input type="text" name="FacName" value="<%= facility.FacName %>">
<label>FACILITY TYPE</label>
<input type="text" name="FacType" value="<%= facility.FacType %>">
<label>FACILITY NUMBER</label>
<input type="text" name="FacNum" value="<%= facility.FacNum %>">
<label>FACILITY IMAGE</label>
<input type="text" name="FacImage" value="<%= facility.FacImage %>">