<h2>SEARCH FACILITY</h2>
<form action="/facility" method="GET">
<label>FACILITY NAME</label>
<input type="text" name="FacName" value="<%= searchOptions.FacName %> ">
<button type="submit">SEARCH</button>
</form>
<br>
<div>
<% facilities.forEach(facility => { %> 
    <img height="150" width="100" src="<%= facility.coverImagePath %> ">
<% }) %> 
</div>