<h2> NEW FACILITY</h2>
<form action="/facility" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %> 
    <a href="/facility">CANCEL</a>
    <button type="submit">CREATE</button>
</form>